.InfoPanel {
    width: 25%;
    height: calc(100vh - 58px);
    margin: auto 0px;
    float: left;
}

.VisualPanel {
    width: 75%;
    height: calc(100vh - 58px);
    margin: auto;
    float: left;
    overflow: scroll;
}
