.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.leftPanel {
    width: 25%;
    height: 100%;
    margin: auto 0px;
    position: absolute;
    left: 0px;
    float: left;
    border-right: 5px solid red;
}

.cardPanel {
    width: 75%;
    margin: auto;
    float: left;
    position: absolute;
    right: 0px;
}

.card {
    text-align: center;
    width: 30%;
    margin: 25px 10px;
    float: left;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profileImg {
    width: 100%;
    margin: auto;
}

.profileInfo {
    width: 90%;
    margin: auto;
}