.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.leftPanel {
    width: 25%;
    height: 100%;
    margin: auto 0px;
    float: left;
}

.cardPanel {
    width: 75%;
    height: calc(100vh - 58px);
    margin: auto;
    float: left;
    overflow: scroll;
}

.card {
    text-align: center;
    width: 30%;
    margin: 25px 10px;
    float: left;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profileImg {
    width: 100%;
    margin: auto;
}

.profileInfo {
    width: 90%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}